body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

#featured-property {
  text-align: center; 
  width: 800px; 
  margin: 20px auto;
}

#featured-property img {
display: block;
margin: 0 auto;
}

#featured-property figcaption {
  text-align: center;
  font-size: 0.8em;
}
nav > a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: aqua;
}

#featured-property  p {
  margin-bottom: 20px;
}

#details {
  overflow: hidden; 
}

#details div {
  width: 25%; 
  float: left; 
  text-align: center; 
  background-color: lightgrey; 
}

#details h3 {
  margin-bottom: 10px; 
}

#details p {
  margin-bottom: 10px; 
}